@use 'variaveis';

.hero {
    padding: 2.6em;

    &__img {
        width: 50%;
    }
    
    &__title {
        color: variaveis.$corDoTituloHero;
        font-size: 32px;
        position: absolute;
        top: 35%;
        left: 70%;
        transform: translate(-50%, -50%);
        font-family: "Protest Strike", sans-serif;
    }

    span {
        font-family: "Protest Strike", sans-serif;
    }
}

